@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

/* common css */
.section-padding {
  padding: 100px 0 0 0;
}
.title-padding {
  padding-bottom: 100px;
}
.primary-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #222221;
}
.primary-para {
  line-height: 26px;
  color: #6c6c6c !important;
}
.slider-btn {
  padding: 10px 43px;
  border-radius: 5px;
  color: #3f87f5;
  font-weight: 700;
}
/* wedding */
.wedding-btn {
  font-weight: 700;
}
/* end wedding */
/* package */
.bg-box {
  padding: 30px 50px 40px 30px;
}
.bg-box:hover {
  background: #3f87f5;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
}
.bg-box:hover .pricing-box h2,
.bg-box:hover .pricing-box h3,
.bg-box:hover .fa-check,
.bg-box:hover .primary-para {
  color: #fff !important;
}
.pricing-box h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  font-family: "Roboto", sans-serif;
  color: #231d4f;
}
.pricing-box h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  font-family: "Roboto", sans-serif;
  color: #231d4f;
}
.fa-check {
  color: #5243c2;
  background: rgba(82, 67, 194, 0.103693);
  border-radius: 50px;
  width: 20px;
  height: 20px;
  padding: 2px;
}
.pricing-btn {
  background: #f8f9fa;
  border-radius: 24px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  color: #3f87f5 !important;
  padding: 13px 62px;
}
.water-mark {
  width: 40%;
  top: 0;
  right: 0;
}
/* client part */
.client-box {
  padding: 20px 54px;
}
.client-box h3,
.client-box h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #0c1920;
}
.client-box h4 {
  color: #747474;
}
/* end client part */
/* accordion */
.accordion-item {
  background: #ffffff;
  border: 1px solid #d5e5fb !important;
  border-radius: 5px !important;
}
.accordion-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
/* end accordion */
/* footer */
footer {
  background: #0b0d17;
  padding: 56px 0 84px 0;
  margin-top: 100px;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}
footer h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9dbe1;
}
footer img {
  width: 135px;
  height: 40px;
}
/* end footer */
